



h1,p{
    text-align: center;


}

body {
  background-image: url('/maygourmet.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

