



h1,p{
    text-align: center;


}


/* ma navbar */
/* Navbar */
header {
  overflow: hidden;
  border: 1px solid #978d00;
  background-color: #f1f1f1;
}

#main {
  display: flex;
}

#main a {
  display: block;
  background-color: inherit;
  color: #333;
  text-decoration: none;
  padding: 14px 16px;
  transition: background-color 0.3s;
  cursor: pointer;
}

#main a:hover {
  background-color: #ddd;
}

#main a.active {
  background-color: #ccc;
}